name: brew pr-pull

on:
  pull_request_target:
    types:
      - labeled

jobs:
  pr-pull:
    if: contains(github.event.pull_request.labels.*.name, 'pr-pull')
    runs-on: ubuntu-24.04
    permissions:
      actions: read
      checks: read
      contents: write
      issues: read
      pull-requests: write
    steps:
      - name: Set up Homebrew
        # This repo does not make tags or releases
        uses: Homebrew/actions/setup-homebrew@4744c01e7a8c8f20be2e74ec7278834ae1112553 # main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up git
        # This repo does not make tags or releases
        uses: Homebrew/actions/git-user-config@4744c01e7a8c8f20be2e74ec7278834ae1112553 # main

      - name: Pull bottles
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PULL_REQUEST: ${{ github.event.pull_request.number }}
        run: brew pr-pull --debug --tap="$GITHUB_REPOSITORY" "$PULL_REQUEST"

      - name: Push commits
        # This repo does not make tags or releases
        uses: Homebrew/actions/git-try-push@4744c01e7a8c8f20be2e74ec7278834ae1112553 # main
        with:
          branch: main

      - name: Delete branch
        if: github.event.pull_request.head.repo.fork == false
        env:
          BRANCH: ${{ github.event.pull_request.head.ref }}
        run: git push --delete origin "$BRANCH"
